@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  overflow: hidden;
  font-family: "Irish Grover", serif;
  font-weight: 200;
}

i {
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #AB3A1C;
    display: grid;
    place-items: center;
    color: white;
    font-size: 40px;
    z-index: 100;
   }
   h1 {
    position: absolute;
    bottom:10px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 3px 11px rgba(0,0,0,0.17);
    z-index: 100;
    font-size: 70px;
    color: white;
  }
  
   
   .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 120px;
    object-fit: contain;
     top: 47%;
     left: 3%;
     cursor: pointer;
     z-index: 100;
    }
   
   .right {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 120px;
    object-fit: contain;
     top: 47%;
     left: 92%;
     cursor: pointer;
     z-index: 100;
   }